body{
    margin:0;
    background-image:url('bg.jpeg') ;
    background-size: 100% auto;
    
}

h1{
    text-align: center;
    margin: 70px;
    font-size: 100px;
}

h2{
    font-size: 80px;
}

p{
    text-align: center;
    margin: 20px;
}

iframe{
    margin-top: 50px;
}
.pictureContainer{
    position: relative;
    margin-top: 5px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.gallery{
    
    display: flex;
    align-items: center;
}

.gallery img{
    height: 400px;
    width: auto;
    margin-right: 10px;
    display: inline-block;
}

.locationName{
    position: absolute ;
    top:20%;
    left: 5%;
    color: rgba(240, 248, 255, 0.445);
    overflow: hidden;
}

#td{
    display: none;
    width: 100%;
    justify-content: center;
    
}

#td img{
    width: 500px;
}

#bt{
    display: flex;
    width: 100%;
    justify-content: center;
}

#button{
    justify-self: center;
    margin: 50px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: aliceblue;
}